<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278057016291-c7bp0bdrbtknpu8p06muu7etko255i4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278057016291-c7bp0bdrbtknpu8p06muu7etko255i4f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>278057016291-ssha9ijtsmh7cfhrqtm379bov91bk4pd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzTBY9RpZ28cDrOFM5aQ3e4gLRrqvgmsI</string>
	<key>GCM_SENDER_ID</key>
	<string>278057016291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intersindical.corkios</string>
	<key>PROJECT_ID</key>
	<string>cork-86201</string>
	<key>STORAGE_BUCKET</key>
	<string>cork-86201.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278057016291:ios:37312024a0ca8d18611ed6</string>
	<key>DATABASE_URL</key>
	<string>https://cork-86201-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>